
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300;1,400;1,800&display=swap');
*{
  font-size: 20px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;

}

html{
  background-color: #352F44;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;

}

.options , .sketch{
  border: 3px solid #FAF0E6;
}

.container{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.options{
  width: 20%;
  height: 60%;
  margin-right: 30px;

}

.sketch{
  width: 600px;
  height: 600px;
  margin-left: 30px;
  padding: 20px;

  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;


}
.grid-items{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3 );
  -webkit-user-drag: none;
  -moz-window-dragging: none;
}