
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300;1,400;1,800&display=swap');
*{
  font-size: 20px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  -webkit-user-drag: none;
  -moz-window-dragging:none ;

}

html{
  background-color: #352F44;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;

}

.options , .sketch{
  border: 3px solid #FAF0E6;
}

.container{
  width: 100%;
  height: 100%;


  display: flex;
  justify-content: center;
  align-items: center;
}

.options{
  min-width: 200px;
  min-height: 60%;
  margin-right: 30px;
  margin-left: 30px;


  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

button{
  width: 6em;
  height: 3.5em;
  border-radius: .5em;
}


.sketch{
  width: 600px;
  height: 600px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;

  display: grid;
  


}
.grid-items{
  background-color: white;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  transition: all .1s ease-in-out ;
}

#colorSelector{
  -webkit-appearance: none;
  color: rgb(red, green, blue);
  width: 50px;
  height: 50px;
  writing-mode: horizontal-tb !important;
  border-radius:50%;
}

input[type='range']{
  accent-color: #FFFFFF;
}
.sizeDisplay{
  position:relative ;
  bottom: 1%;
  left: 1%;
  color: #FFFFFF;
}